<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asset Database</title>
</head>
<body>
    <h1>Here is the long requested asset tag database.</h1>

    <form action="/items" method="POST">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="model" name="model">
        <button type="submit">Submit</button>
    </form>

    <article>
        <h2>Name invasion!</h2>
        <p>Replaces the first "Yoda" asset with something else</p>
        <button id="update-button">Replace "Yoda"</button>
    </article>

    <article>
        <h2>Deeleetay</h2>
        <p>This will delete one of the quotes listed. Will stop once there are none left.</p>
        <button id="delete-button">Delete "something"</button>
    </article>

    <article id="message"></article>


    <h2>Assets</h2>

    <ul class="assets">
        <!-- Loop through models -->
        <% for(let i=0; i<assets.length; i++) {%>
            <li class="model">
                <!-- Output name from the iterated model object -->
                <span><%= assets[i].name %></span>:
                <!-- Output model from the iterated model object -->
                <span><%= assets[i].model %></span>
            </li>
        <% } %>
    </ul>
    <script src="/main.js"></script>
</body>
</html>