<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asset Database</title>
</head>
<body>
    <h1>Here is the long requested asset tag database.</h1>

    <form action="/items" method="POST">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="model" name="model">
        <button type="submit">Submit</button>
    </form>


    <h2>Assets</h2>

    <ul class="assets">
        <!-- Loop through models -->
        <% for(let i=0; i<assets.length; i++) {%>
            <li class="model">
                <!-- Output name from the iterated model object -->
                <span><%= assets[i].name %></span>:::::
                <!-- Output model from the iterated model object -->
                <span><%= assets[i].model %></span>
            </li>
        <%} %>
    </ul>

</body>
</html>